MODEL__NAME='gpt-4.1-nano'
MODEL__API_KEY='your-model-api-key'

# MCP server url
MCP_SERVER__URL='http://host.docker.internal:8777/mcp'

AWS_ACCESS_KEY_ID='your-access-key-id'
AWS_SECRET_ACCESS_KEY='your-secret-access-key'

DB__HOST='hubble_chatbot_postgres'
DB__PORT='5432'
DB__NAME='your-db-name'
DB__USER='your-username'
DB__PASSWORD='your-password'

# should be set to local for local development
# it runs app without opentelemetry
APP_ENVIRONMENT='local'

# CORS origins
BACKEND_CORS_ORIGINS='http://localhost:8501'

# AWS S3 bucket configurations for session context retention
S3_SESSION_REPO__BUCKET='user-sessions'
S3_SESSION_REPO__PREFIX='local'
S3_SESSION_REPO__REGION_NAME='eu-west-2'

REDIS__PORT=6379
REDIS__PASSWORD='your-password'
REDIS__HOST=hubble_chatbot_redis
REDIS__USE_TLS=false

SESSION_REPOSITORY__TYPE='file'
FILE_SESSION_REPO__STORAGE_DIR='user-sessions'

# set this to false if you don't want to mask sensitive data sent
# if set to false all sensitive data will be passed to LLM
# this defaults to false if not set
SENSITIVE_DATA_HANDLER__MASK_SENSITIVE_DATA=true